* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #eee;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    min-height: 70px;
    align-items: center;
    justify-content: space-around;
    padding:  0px 30px;
    background-color: #eee;
}

nav {
    font-weight: 400;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

#page-wrapper {
    position: relative;
}

#newsletter-subscription {
    margin-top: 80px;
}

.logo {
    width: 60vw;
}